@import 'tailwindcss';

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 212 22% 13%;
        --primary: 196 100% 47%;
        --primary-foreground: 0 0 100%;
        --secondary: 196 7% 43%;
        --secondary-foreground: 0 0 90%;
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --background: 212 22% 13;
            --foreground: 0 0% 100%;
            --secondary: 240 3.7% 15.9%;
        }
    }
}

@theme {
    --color-background: hsl(var(--background));
    --color-foreground: hsl(var(--foreground));
    --color-primary: hsl(var(--primary));
    --color-primary-foreground: hsl(var(--primary-foreground));
    --color-secondary:  hsl(var(--secondary));
    --color-secondary-foreground: hsl(var(--secondary-foreground));
}

@layer base {
    body {
        @apply bg-background text-foreground;
    }
}